@media screen and (max-width:425px) {
   .cabecalho{
     display: none;
   }

   .conteudo-principal{
      width: 100%;
      position: relative;
   }
   
   .intro{
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
   }
   
   .conteudo-intro{
      align-items: flex-start;
      width: 90%;
      padding-top: 20%;
   }
   
   .titulo-P-intro{
      width: 100%;
      font-size: 29px;
   }
   .subtitulo-intro{
      width: 100%;
      font-size: 1.1em;
   }
   
   .bt-intro{
      width: 60%;
   }
   .video-intro{
      align-self: center;
      width: 100%;
      margin-top: 30%;
   }
   /* ##########################################################3 */
   .flutuante{
      position: initial;
      width: 100%;
      padding: 0;
   }
   .conteudo-flutuante{
      width: 90%;
      padding: 15% 0;
      margin: 10% auto;
   }

   .titulo-flutuante{
      font-size: 23px;
   }

   .subtitulo-flutuante{
      font-size: 18px;
   }
   

   /* ##########################################################3 */
   .info{
      margin: 10% 0;
   }

   .titulo-P-info{
      font-size: 28px;
   }  

   .texto-info{
      width: 100%;
      font-size: 18px;
   }
   /* ##########################################################3 */
   
   .card-laranja{
      width: 100%;
   }
   .card-laranja .container{
      flex-direction: column;
   }
   
   .texto-card-laranja{
      width: 80%;
      margin: 5% auto;
      font-size: 35px;
   }
   /* ##########################################################3 */
   
   .topicos .container{
      flex-direction: column;
   }
   
   .menu-lateral{
      width: 90%;
   }
   
   .conteudo-topicos{
      width: 90%;
      margin: 0 auto;
   }
   /* ##########################################################3 */
   
   .depoimentos{
      margin-top: 20%;
   }
   .depoimentos .container{
      flex-direction: column;
   }
   
   .card-depoimentos{
      width: 90%;
      margin-bottom: 30%;  
   }
   
   .titulo-P-depoimentos{
      font-size: 26px;
   }

   .texto-depoimentos{
      font-size: 1.0em;
   }
   /* ##########################################################3 */
   
   .duvidas .container{
      flex-direction: column;
   }
   
   .titulo-P-duvidas{
      width: 100%;
      margin-bottom: 10%;
      font-size: 29px;
   }
   
   .lista-duvidas{
      width: 100%;
   }
   
   .li-principal{
      font-size: 1.0em;
      padding: 10%;
   }
   
   /* ##########################################################3 */
   
   .titulo-P-sessao-cinza, .texto-sessao-cinza{
   font-size: 23px;
   }

   
   .bt-sessao-cinza{
      width: 90%;
      padding: 1.2em;
   }
   /* ##########################################################3 */
   
   .rodape .container{
      width: 100%;
      flex-wrap: wrap;
      font-size: 14px;
   }
   .sobre-rodape{
      width: 45%;
   }
   .titulo-sobre-rodape{
      font-size: 16px;
   }
   
   
}